input {
	font-size: 14px;
	padding: 10px;
	margin-left: 5px;
}

textarea {
	font-weight: 14px;
	resize: none;
	margin-left: 5px;
}

.starred {
	margin-top: 78px;
	margin-bottom: 5px;
	font-size: 28px;

	font-weight: bold;
}

.options {
	display: flex;
	justify-content: flex-start;
}

.highlighted {
	background-color: #ff4007;
	color: #ffffff;
}

.message {
	display: flex;
	border: 1px solid #c5c5c5;

	padding: 15px;
	margin-top: 20px;
}

.message-contents {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.message-header {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	margin-bottom: 10px;
}

.user-details {
	text-align: center;
	width: 128px;
	margin-right: 10px;
}

.user-handle {
	margin-top: 10px;
	text-overflow: hidden;
}

.source-date {
	margin-right: auto;
	padding-bottom: 5px;

	color: #c5c5c5;
}

.buttons {
	display: flex;
}

.empty {
	font-weight: bold;
}